@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
  1. CSSにおいて `@import`はファイル内で最初のルールである必要がある
  2. `@import "tailwindcss"`は大量のCSSを展開する
  3. その中に`@import`以外のルールが含まれているため、先頭に置くとその後ろの`@import`が1.のルールに反する
*/
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-body: #050505;
  --color-selected-text: #a3a3ff;
  --color-theme: #5c318c;
  --color-secondary: #9191a4;
}

.secondary-title {
  @apply text-3xl font-bold
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}
